<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ce este Flaty?</h2>
                <hr class="light">
                <p class="text-faded">
                Flaty este o aplicatie mobila ce face viata mai usoara tuturor asociatiilor de locatari. Spuneti adio asteptatului la cozi, gata cu neobservarea anunturilor importante de pe casa scarii si luati-va ramas bun de la clasicul avizier.</p>
            </div>
        </div>
    </div>
</section>
