<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Avem solutia!</h2>
                <hr class="light">
                <p class="text-faded">Ai ratat intalnirea cu locatarii din bloc, te-ai saturat sa intri in scara fara sa observi anunturile postate pe usa de la intrare sau sa astepti minute intregi la coada pentru a plati intretinerea? 
                Daca ai raspuns "DA" la cel putin una din intrebarile de mai sus, nu-ti mai face griji, noi avem solutia...</p>
            </div>
        </div>
    </div>
</section>
