<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ce este Flaty?</h2>
                <hr class="light">
                <p class="text-faded">
                Flaty este o aplicaţie mobilă ce face viaţa mai uşoară tuturor asociaţiilor de locatari. Spuneţi adio aşteptatului la cozi, gata cu neobservarea anunţurilor importante de pe casa scării şi luaţi-vă rămas bun de la clasicul avizier.</p>
            </div>
        </div>
    </div>
</section>
