<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img src="img/logo.png" alt="Flaty" style="width: 30%; height:30%;"></h1>
            <hr>
            <p style="background-color: black;">Ai ratat intalnirea cu locatarii din bloc, te-ai saturat sa intri in scara fara sa observi anunturile postate pe usa de la intrare sau sa astepti minute intregi la coada pentru a plati intretinerea? 
               <br> Daca ai raspuns "DA" la cel putin una din intrebarile de mai sus, nu-ti mai face griji, noi avem solutia...</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Află mai multe</a>
        </div>
    </div>
</header>
