<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviciile noastre</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Anunţuri</h3>
                    <p class="text-muted">Nu mai este nevoie să ţii minte când se opreşte apa caldă sau când se face deratizarea. Vei fi anunţat imediat ce un nou anunţ apare la uşa blocului!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Trimitere index</h3>
                    <p class="text-muted">Nu mai pierde timpul mergând la administrator şi stând la coadă doar pentru a trimite indexul de la apă! Poţi plăti direct din aplicaţie, totul la o atingere distanţă.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Avizier</h3>
                    <p class="text-muted">Cititul greoi al avizierului este de domeniul trecutului. Acum, poţi vedea detaliile despre costurile tale legate de întreţinere foarte uşor, într-un avizier virtual.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sugestii şi reclamaţii</h3>
                    <p class="text-muted">Vrei să faci o sugestie asociaţiei de locatari? Nu s-a făcut bine curăţenia în bloc ultima oară sau ai întâmpinat vreo problemă? Poţi trimite reclamaţii sau sugestii administratorului direct din aplicaţie.</p>
                </div>
            </div>
        </div>
    </div>
</section>
